@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body,
html {
  min-height: 100%;
}

html {
  background: #24252A;
  line-height: 1.15;
  font-size: 10px;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 900px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}

.grid-6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.field-groups__label {
  font-size: 18px;
  margin-bottom: 20px;
}

.main-title {
  margin-bottom:6rem;
}

.result-difference {
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid $yellow;
}

.final-group {
  margin-top: 4rem;
}

.field-groups {
  margin: 20px 0;
  background: #2C3033;
  border-radius: 12px;
  padding: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}
