$yellow: #F1AE01;
$blue: #0099fa;
$green: #57D76B;
h1 {
    font-size: 3rem;
}
  
p {
    font-size: 14px;
}

input {
    &[type=email], &[type="date"], &[type=password], &[type=search], &[type=tel], &[type=text] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff;
        border-radius: 12px;
        border: 1px solid transparent;
        height: 40px;
        padding: 8px 18px 5px 18px;
        width: 250px;
        margin: 0 20px 20px 0;
        max-width: 576px;
        font-size: 14px;
        color: #090a0b;
        outline: 0;
        transition: .3s ease-out;
        border: 2px solid #f9f9f9;
        border-radius: 12px;
        outline: 0;
        &:focus {
            border-color:$yellow;
        }
        &:disabled {
            background: gray;
            border-color: gray;
            cursor: not-allowed;
        }
    }
    &[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
}

.input-radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: .2s ease-in;
    &:hover {
        color: rgba(#fff, 0.7);
    }
    &.checked {
        color: rgba($yellow, 1);
    }
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked ~ {
            .input-radio__indicator {
                background: $yellow;
                &::after {
                    display: block;
                }
            }
        }
    }
}

.input-radio__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    &:after {
        left: 7px;
        top: 7px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: #fff;
        content: '';
        position: absolute;
        display: none;
    }
}

.field-item {
    position: relative;
}

.btn {
    background: lightgray;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    color: #090a0b;
    display: inline-block;
    max-width: 100%;
    width: 250px;
    text-align: center;
    transition: .2s;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    padding: 8px 23px 8px 23px;
    height: 40px;
    color: #000;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        opacity: 0.8;       
    }
    &.btn-primary {
        background: $blue;
        border-color: $blue;
        color: #fff;
    }
    &:disabled {
        opacity: 0.4 !important;
        color: #fff;
        cursor: not-allowed;
    }
}

.add-btn {
    font-size: 13px;
    background: transparent;
    border:0;
    color: #fafafa;
    width: auto;
    min-width: none;
    padding: 3px 5px;
}

.date-range-item.pulse {
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba($yellow, 0.6);
      box-shadow: 0 0 0 0 rgba($yellow, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba($yellow, 0);
        box-shadow: 0 0 0 10px rgba($yellow, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba($yellow, 0);
        box-shadow: 0 0 0 0 rgba($yellow, 0);
    }
}

.alert {
    position: fixed;
    bottom: 10px;
    right: -100%;
    transition: .4s ease-in;
    &.show {
        right: 0;
    }
}

.alert-body {
    box-shadow: 2px 2px 18px -9px rgba($green, 0.4);
    display: grid;
    background: #24252a;
    border-radius: 12px;
    border: 1px solid $green;
    overflow: hidden;
    font-size: 14px;
    grid-template-columns: 1fr 120px;
    max-width: 320px;
    align-items: center;
}

.alert-msg {
    padding: 10px;
}

.tab-pane {
    display: none;
    &.active {
      display: block;
      animation: slide-down .2s ease-out;
    }
  }
  
  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .tabs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    grid-gap:20px;
    padding-top: 20px;
    .tab-item {
        box-shadow: none;
        &.active {
            .tab-li-link {
                background: $yellow;
                color: #fff;
            }
        }
    }
    .tab-li-link {
        font-size: 3rem;
        color: #fff;
        background:#2C3033;
        width: 100%;
        border-radius: 12px 12px 0 0;
        padding: 20px;
        display: block;
        margin: 0;
        font-weight: 500;
        font-size: 18px;
    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        width: 38px;
        height: 38px;
        border: 3px solid #FFF;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        &:after {
            content: '';  
            box-sizing: border-box;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-bottom-color: $yellow;
          }
    }
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.select2-container {
    .select2-results__option {
        color: #000;
        font-size: 14px;
        padding: 10px 8px 10px 18px;
        &[aria-selected=true] {
            background: $yellow;
        }
    }

}

.select2-container--default {
    .select2-selection--single {
        height: 40px;
        border-radius: 12px;
        border: none;
        .select2-selection__rendered {
            font-size: 14px;
            height: 100%;
            line-height: 1.2;
            display: flex;
            align-items: center;
            padding-left: 18px;
        }
        .select2-selection__arrow {
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }
    .select2-results__option--highlighted[aria-selected] {
        background: lightgray;
        color: #000;
    }
    .select2-search--dropdown .select2-search__field {
        margin: 0;
        padding: 8px 18px 8px 18px;
        height: 34px;
    }
    &.select2-container--disabled {
        .select2-selection--single {
            background: gray;
            border-color: gray;
            cursor: not-allowed;
        }
    }
}